<div class="row">
    <div class="col-md-6 actions-col">
        <div class="moves">
                <button value="7" id="7" class="fight-li">Combo</button>
                <button value="8" id="8"class="fight-li 8">Double Kick</button>
                <button value="9" id="9"class="fight-li 9">High Kick</button>
                <button value="4" id="4" class="fight-li 4">Flying Kick</button>
                <button value="5" id="5" class="fight-li 5">Uppercut</button>
                <button value="6" id="6" class="fight-li 6">Super Uppercut</button>
                <button value="1" id="1" class="fight-li 1">Kick</button>
                <button value="2" id="2" class="fight-li 2">Punch</button>
                <button value="3" id="3" class="fight-li 3">Power Shot</button>
                <button value="10" id="10" class="fight-li 10">Double Side Attack</button>

        </div>


        {{!-- <div class="dropdown">
            <button id="fight-label" class="btn btn-info action-btn" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Fight
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="fight-label">
                <li class="fight-li 1" value="1">Kick</li>
                <li class="fight-li 2" value="2">Punch</li>
                <li class="fight-li 3" value="3">Power Shot</li>
                <li class="fight-li 4" value="4">Flying Kick</li>
                <li class="fight-li 5" value="5">Uppercut</li>
                <li class="fight-li 6" value="6">Super Uppercut</li>
                <li class="fight-li 7" value="7">Combo</li>
                <li class="fight-li 8" value="8">Double Kick</li>
                <li class="fight-li 9" value="9">High Kick</li>
                <li class="fight-li 10" value="10">Double Sided Attack</li>
            </ul>

        </div> --}}

        {{!-- <div class="dropdown">
            <button id="fight-label" class="btn btn-default action-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Item
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="fight-label">
                <li>
                    <a class="item-li" href="#" value="1">Potion</a>
                </li>
            </ul>

        </div> --}}
    </div>

</div>