<div class="row">
    <div class="col-md-6 actions-col">
        <div class="dropdown">
            <button id="fight-label" class="btn btn-info action-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fight
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="fight-label">
                <li>
                    <a class="fight-li" href="#" value="1">Attack</a>
                </li>
                <li>
                    <a class="fight-li" href="#" value="2">Roundhouse</a>
                </li>

            </ul>

        </div>

        <div class="dropdown">
            <button id="fight-label" class="btn btn-default action-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Item
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="fight-label">
                <li>
                    <a class="item-li" href="#" value="1">Potion</a>
                </li>
            </ul>

        </div>
    </div>

</div>