<div class="row">
    <div class="col-md-6 actions-col">
        {{!-- for fight moves --}}
        <div class="moves" id="moves">
            <ul>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn" value="1"><a href="#" value="1" data-name="1" class="fight-li">Kick</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn"value="2"><a href="#" value="2" data-name="2" class="fight-li">Punch</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn" value="3"><a href="#" value="3" data-name="3" class="fight-li">Power
                                Shot</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn" value="4"><a href="#" value="4" data-name="4" class="fight-li">Flying
                                Kick</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn"value="5"><a href="#" value="5" data-name="5"
                                class="fight-li">Uppercut</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn" value="6"><a href="#" value="6" data-name="6" class="fight-li">Super
                                Uppercut</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn"value="7"><a href="#" value="7" data-name="7" class="fight-li">Combo</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn"value="8"><a href="#" value="8" data-name="8" class="fight-li">Double
                                Kick</a></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn"value="9"><a href="#" value="9" data-name="9" class="fight-li">High
                                Kick</a></button>
                    </li>
                </div>
                <div class="col-d-4 space">
                    <li>
                        <button class="move-btn" style="visibility: hidden"></button>
                    </li>
                </div>
                <div class="col-d-4">
                    <li>
                        <button class="move-btn"value="10"><a href="#" value="0" data-name="10" class="fight-li">Double
                                Attack</a></button>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

{{!-- for added magical powers --}}
{{!-- <div class="dropdown">
            <button id="fight-label" class="btn btn-default action-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Item
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="fight-label">
                <li>
                    <a class="item-li" href="#" value="1">Potion</a>
                </li>
            </ul>

        </div> --}}
</div>

</div>