<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div>
        <span class="navbar-left" style="margin-left: 100px">
    <h5>
        The 404 Club
    </h5>
        </span>
    
        <ul class="navbar-right" style="margin-right:200px; list-style-type:none">
            <li>Amy Harris</li>
            <li>April Wilson</li>
            <li>Luke Epps</li>
            <li>Josh Rowden</li>
            <li>Spencer Daniels</li>
        </ul>
    </div>

  </div>
</footer>