<footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div>
            <span class="navbar-left" style="margin-left: 100px">
                <h5>
                    The 404 Club
                </h5>
            </span>

            <ul class="navbar-right" style="margin-right:200px; list-style-type:none">
                Amy, April, Josh, Luke,  & Spencer
            </ul>


        </div>

    </div>
</footer>