{{!-- <footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div>
            <span class="navbar-left" style="margin-left: 100px">
                <h5>
                    I learned long ago, never to wrestle with a pig, you get dirty; and besides, the pig likes it.
                </h5>
            </span>

        </div>

    </div>
</footer> --}}