<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:#333333">
      <div class="modal-header"style="border: none">
        <h3 class="modal-title" id="modalLabel" style="color:#ffff00">Choose your player!</h3>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="modal-arrow modal-element" id="left-select"><img src="/assets/img/angle-double-left-solid.svg" height="70px" opacity="1" id="left-svg"alt="Left"></span>
        <div class="modal-element" id="modal-image">
            <canvas id="player-preview"></canvas>
        </div>
        <span class="modal-arrow modal-element" id="right-select"><img src="/assets/img/angle-double-right-solid.svg" height="70px" opacity="1"  id="right-svg"alt="Right"></span>
      </div>
      <div class="modal-footer"style="border: none">
        <input type="text" id="modal-name" style="background-color:#333" placeholder="Fighter Name">
        <button type="button" style="background-color:#ffff00" class="btn btn-primary" id="select-player">Choose</button>
      </div>
    </div>
  </div>
</div>