<nav class="navbar navbar-default" style="background-color:#333333">
  <div class="container-fluid">
        <div>
            <span class="navbar-left long" style="margin-left: 100px">
                <h1>
                    FIGHT NIGHT - Taking it to the Street!
                </h1>
            </span>
             <span class="navbar-left short" style="margin-left: 10px">
                <h1>
                    FIGHT NIGHT!
                </h1>
            </span>
  <span class="navbar-right" style="margin-right: 100px">
                <h4>
                    404 Club
                </h4>
            </span>
        </div>

    </div>
</nav>