<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" "navbar-left" style="margin-left:100px">
        <h1>Battles</h1>
    </div>
    <div class="nav navbar-nav navbar-right" style="margin-right:200px">
        <h3>Score:</h3>
    </div>
  </div>
</nav>