<div class="modal fade" id="winModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content win-background">
            <div class="modal-header" id="win-header" style="border: none">
                <h3 class="modal-title" id="winLabel" style="color:#f3cf31">WINNER!</h3>
                <span aria-hidden="true">&times;</span>
                <div class="win-name" style="color: black"></div>
            </div>
            <div class="modal-body">
                
                <div class="modal-element" id="win-image">
                    <canvas id="player-win"></canvas>
                </div>
            </div>
            <div class="modal-footer" style="border: none">

                <button type="button" style="background-color:#f3cf31" class="btn btn-primary" id="next-game">Next
                    Opponent!</button>
            </div>
        </div>
    </div>
</div>