{{> _nav}}
<div class="panel panel-default">

  <div class="row container" id="battle">
    <div class="row" id="background">
      <canvas class="col-md-6" id="player-left">
    </div>
    <canvas class="col-md-6" id="player-right">
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-d-6 player-health">
    <div id="player-left-health"></div>
  </div>
  <div class="col-md-6 col-d-6 player-health">
    <div id="player-right-health"></div>
  </div>
</div>

</div>

{{>_dropdowns}}

</div>


{{>_modal}}{{>_win}}{{>_lose}}