{{> _nav}}

<div class="container" id="battle">
	<div class="row" id="background">
		<div class="col-md-6" id="player-left">
		</div>
		<div class="col-md-6" id="player-right">
		</div>
	</div>
</div>

{{>_footer}}