<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{261,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{391,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{521,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{651,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{781,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,259},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{131,259},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{261,259},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{391,259},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{521,259},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{651,259},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{781,259},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,517},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{131,517},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{261,517},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{391,517},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{521,517},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{651,517},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{781,517},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,775},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{131,775},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{261,775},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{391,775},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{521,775},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{651,775},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{781,775},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,1033},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{131,1033},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{261,1033},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{391,1033},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{521,1033},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{651,1033},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{781,1033},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,1291},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{131,1291},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{261,1291},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{391,1291},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{521,1291},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{651,1291},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{781,1291},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monsterstomachhit.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fcedd8863554d18e8d121717a3ea193:2dab2f52308dffdd8a325d31cc600912:f1e27d2fe5d28e6a09265f243faffa42$</string>
            <key>textureFileName</key>
            <string>monsterstomachhit.png</string>
        </dict>
    </dict>
</plist>
