#battle{
		margin: auto;
		margin-top: 10vh;
};

.modal-element {
	display: flex;

}

.modal-body {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.actions-col {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.action-btn {
	display: flex;
	align-self: flex-end;
	flex-direction: row;
}

/* .antlerCorkScrew { 
    animation: antlerCorkScrew steps(65) 2s infinite; 
}
@keyframes punch {
    from { background-position:0px -160px; }
    to { background-position:-280px -160px; }
} */