* {
	font-family: 'Skranji', cursive;
}

#battle{
		margin: auto;
		margin-top: 10vh;
};

.modal-element {
	display: flex;

}

.modal-body {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.actions-col {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.action-btn {
	display: flex;
	align-self: flex-end;
	flex-direction: row;
}

#player-left-health {
	text-align: right;
	margin-right: 7em;
}

#player-right-health {
	text-align: left;
	margin-left: 7em;
}

.player-health {
	align-content: center;
	margin: auto;
	text-align: center;
}

#background{ 
	display: flex;
	justify-content: space-between;
	height: 350px;
	background-size: contain;
	background-image: url(/assets/backgrounds/background-1.png);
}

#player-left{
	align-self: flex-end;
	height: 15vh;
	width: 10em;
}

#player-right{
	align-self: flex-end;
	height: 15vh;
	width: 10em;
}

#player-preview {
	height: 200px;
	margin: auto;
	padding-bottom: 35%;
	
}